:root {
    --main-color: #1895CE;
    --main-bg-color: #FFFFFF;
}
.body {
    background-color: var(--main-bg-color);
}

.header {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.header-img {
    width: 150px;
    height: auto;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-underline {
    margin: auto;
    margin-top: 1rem;
    width: 80%;
    border-bottom: 10px solid var(--main-color);
}

.main-section {
    display: flex;
    justify-content: center;
    margin: auto;
}

.left-section, .right-section {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.skillLevel {
    margin: 0 .2rem;
    color: var(--main-color)
}