:root {
    --main-color: #1895CE;
    --main-bg-color: #FFFFFF;
    --main-text-color: #000;
    font-size: 13px;
}

a {
    color: var(--main-text-color);
    text-decoration: none;
}

p {
    margin: .2rem;
}

ul {
    margin-top: 0;
}

.body {
    background-color: var(--main-bg-color);
}

.header {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.header-img {
    width: 100px;
    height: auto;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-underline {
    margin: auto;
    margin-top: 1rem;
    width: 80%;
    border-bottom: 4px solid var(--main-color);
}

.main-section {
    display: flex;
    margin: auto;
}

.left-section, .right-section {
    display: flex;
    flex-direction: column;
}

.left-section {
    width: 40%;
    margin-right: 3rem;
}

.profil {
    text-align: justify;
}

.right-section {
    width: 60%;
}

.skill {
    display: flex;
    justify-content: space-between;
    margin: .5rem 0;
    font-size: 12px;
}

.skill ul {
    list-style: none;
    display: flex;
}

.skill :nth-child(2) {
    text-wrap: nowrap;
}



.formations li p, .experiences-pro li p{
    font-weight: bold;
    margin-bottom: .2rem;
    margin-top: .5rem;
}

.formations li span, .experiences-pro li span{
    color: var(--main-color);
}

.infos, .contact {
    display: flex;
    flex-direction: column;
}

.infos p, .infos p .fas, .infos p .fab, .infos p fa-solid, .contact p .fas, .contact p .fab, .contact p .fa-solid, .rootme-img, .codingame-img, .footer-links li .fab, .footer-links li .fa-solid {
    margin-right: .5rem;
}

.skillLevel {
    margin: 0 .2rem;
    color: var(--main-color)
}

.experiences-pro, .formations {
    position: relative;
    margin-left: 0;
    padding-left: 1rem;
    z-index: 1;
}

.experiences-pro li:before, .formations li:before {
    content:'';
    position:absolute;
    border-left: 1px solid var(--main-color);
    left: 0;
    bottom:0;
    z-index: -1;
    height:100%
}  

.experiences-pro li:last-child:before, .formations li:last-child:before {
    content:none;
}

.footer-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: .5rem;
    vertical-align: center;
}

.rootme-img, .codingame-img {
    height: 13px;
    width: auto;
}

.interests, .langues {
    display: flex;
    align-items: center;
}

.langues div, .interests div {
    text-align: center;
    padding-top: .3rem;
    margin-right: 1rem;
}